layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane command="nvim" 
        pane split_direction="horizontal" {
            pane {
                command "ls"
                args "-lh"
            }
            pane command="htop"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
