@import "~/.config/rofi/config.rasi" 


window {
    width:                      30%;
    height:						7.4%;

}


entry {
    placeholder:                "";
}


imagebox {
enabled:                    false;
}

inputbar {
    enabled:                    true;
    padding: 20px;
}
