@import "~/.config/rofi/config.rasi" 


window {
    width:                      20%;
    height:						7.4%;

}


entry {
    placeholder:                "Search Google";
}


imagebox {
enabled:                    false;
}

inputbar {
    enabled:                    true;
    height: 100px;
    padding: 20px;
}
