@import '../../.cache/hellwal/colors-waybar.css';
/* @import '../waybar/color/colors-waybar.css'; */

@define-color accent @color7;
@define-color accent2 @color14;

@define-color cc-bg rgba(26, 27, 38, 1);
@define-color noti-border-color rgba(255, 255, 255, 0.15);
@define-color noti-bg rgb(17, 17, 27);
@define-color noti-bg-darker rgb(43, 43, 57);
@define-color noti-bg-hover rgb(27, 27, 43);
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color rgba(169, 177, 214, 1);
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected rgb(0, 128, 255);

* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font 5";
  font-weight: bold;
  font-size: 1.2rem;
  /* font-family: "JetBrainsMono Nerd Font"; */
  /* font-family: "Source Code Pro"; */
  transition: 200ms;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 12.6px;
  margin: 18px;
  background-color: rgba(30, 30, 46, 0.599);
  color: #cdd6f4;
  padding: 3px;
  border: 1px solid @accent;

  border-bottom: 4px;
  border-right: 2px;
  border-style: solid;
  border-color: @accent;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: #cdd6f4;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: #a6adc8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: #cdd6f4;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px #45475a;
  margin: 7px;
}

.notification-action {
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    alpha(@accent, 0.5),
    alpha(@accent2, 0.5)
    
  );
  border: 1px;
  margin: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #313244;
  color: #cdd6f4;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #cdd6f4;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e;
  background-color: #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #eba0ac;
  color: #1e1e2e;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
  color: #1e1e2e;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border-radius: 12.6px;
  margin: 18px;
  /* background-color: #1e1e2e; */
  background-color: rgba(36,36,59, 0.5);
  color: #cdd6f4;
  padding: 14px;
  border: 1px solid @accent;

  border-bottom: 4px;
  border-right: 2px;
  border-style: solid;
  border-color: @accent;
}

.control-center .widget-title {
  color: #cdd6f4;
  font-size: 1.3em;
  padding-top: 10px;  /* Adjust padding as needed */
  margin-bottom: 5px; /* Space below title */
}


.control-center .widget-title button {
  border-radius: 10px;
  color: #cdd6f4;
  min-width: 50px;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px #45475a;
  padding: 2px;
  margin-left: 15px;
  border: 1px solid @accent;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #585b70;
  color: #cdd6f4;
}


.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #1e1e2e;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px #45475a;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #a6adc8;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #11111b;
  box-shadow: inset 0 0 0 1px #45475a;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #313244;
  color: #cdd6f4;
}               

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e;
  background-color: #eba0ac;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #f38ba8;
  color: #1e1e2e;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
  color: #1e1e2e;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #7f849c;
  color: #cdd6f4;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #cdd6f4;
}

progressbar {
  padding: 3px;
  border-radius: 12px;
}

trough,
progress {
  padding: 3px;
  border-radius: 12px;
  background-color: #313244;
}


/* .notification.critical progress {
  background-color: #f38ba8;
} */
progress {
  background-color: #f38ba8;
}

/* .notification.low progress,
.notification.normal progress {
  background: linear-gradient(
    45deg,
    @accent,
    @accent2
  );
} */

progress {
  background: linear-gradient(
    45deg,
    @accent,
    @accent2
  );
}


.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: #313244;
  border: 1px solid #45475a;
  box-shadow: none;
}


.control-center-dnd:checked {
  background: #313244;
}

.control-center-dnd slider {
  background: #45475a;
  border-radius: 8px;
}

.widget-dnd {
  padding: 10px;
  margin: 5px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #313244;
  border: 1px solid mix(@color7, #45475a, 0.5);
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #ed939d;
}

.widget-dnd > switch slider {
  background: #45475a;
  border-radius: 8px;
  border: 2px solid @color7;
}

.widget-mpris {
  color: @color7;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px 5px 10px;
  border: 1px solid @accent;
  border-radius: 8px;
}


.widget-mpris > box > button {
  border-radius: 20px;
}

.widget-mpris-player {
  background-color: @noti-bg-darker;
  padding: 5px 10px;
  margin: 10px;
}

.widget-mpris button {
  color: alpha(@color7, .6);
}

.widget-mpris-album-art {
  border-radius: 16px;
}
  
.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
} 



.widget-buttons-grid {
  font-size: x-large;
  padding: 2px;
  /* margin:  5px 5px 5px 5px; */
  border-radius: 0px;
  /* background: @noti-bg-darker; */
}


.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 2px;
  min-height: 30px;
  min-width: 65px;
  background: alpha(@accent, 0.5);
  border-radius: 10px;
  color: white;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: rgba(122, 162, 247, 1);
  color: @cc-bg;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
  background: @accent2;
  color: @cc-bg;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

.widget-volume {
  /* background: @noti-bg-darker; */
  padding: 10px;
  margin: 5px 10px;
  border-radius: 0px;
  font-size: 2rem;
  color: @accent;
}


/* Notifications expanded-group */

.notification-group {
  margin: 0 4px 8px 4px;
}
.notification-group-headers {
  font-weight: 900;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.notification-group-icon {
  padding: 4px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @surface;
  margin: 4px;
  border-radius: 20px;
  padding: 8px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}
