@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  color: @text;
  all: unset;
  font-size: 1rem;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(#000000, 0.05);
  border-radius: 20px;
  border: 2px solid @lavender;
  margin: 0;
  padding: 8px 8px 0 8px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.4rem;
  border-radius: 0.8rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 2px solid @red;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 1rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  background-color: alpha(@crust, 0.95);
  margin: 0.4rem;
  border: 1px solid transparent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @hover;
  border: 1px solid @lavender;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @lavender;
  color: @text;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  background: transparent;
  border-radius: 20px;
  color: @text;
  background-color: alpha(#fff, 0.1);
  margin: 0px;
  padding: 4px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background-color: @lavender;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @lavender;
  color: @text;
}

.notification.critical progress {
  background-color: @lavender;
}

.notification.low progress,
.notification.normal progress {
  background-color: @lavender;
}
